<mat-drawer-container>
  <mat-drawer #drawer mode="side">hello</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button id="logo_icon_button" (click)="drawer.toggle()">
        <mat-icon svgIcon="logo"></mat-icon>
      </button>
      <button mat-flat-button color="primary" id="resume_button">
        <mat-icon>picture_as_pdf</mat-icon>
        Resume
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>