<section id="landing_page_container" style="max-width: 100%; overflow-x: hidden !important;">
    <!--############################
    ||                            ||
    ||    Landing Introduction    ||
    ||                            ||
    #############################-->
    <section id="landing_introduction">
        <h1><span class="gradient">Max</span> Tan</h1>
    </section>

    <!--############################
    ||                            ||
    ||        Mobile View         ||
    ||                            ||
    #############################-->
    @if (isMobileView) {
    <section id="skillsets_container_mobile">
        @for (skillset of SKILLSETS; track $index) {
        <div [style.grid-area]="skillset.skillset.toString()" [style.background-color]="skillset.boxColor"
            [style.color]="skillset.textColor" [style.border]="'1px solid ' + skillset.boxColor"
            style="border-radius: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1em;">
            <mat-icon [svgIcon]="skillset.skillset"></mat-icon>
            <h1>{{ skillset.skillset }}</h1>
        </div>
        }
    </section>

    <!--Services Container-->
    <section style="height: 85em;">
        <div
            style="padding: 3rem 0rem 3rem 0rem; display: flex; flex-direction: column; justify-content: center; align-items: center; transform: scale(2.2);">
            <h1 style="margin-bottom: 0;">Do Better</h1>
            <h3>What can I Provide</h3>
        </div>

        @for (service of SERVICES; track $index) {
        <div style="display: flex; padding-bottom: 2rem;">
            <div
                style="background-color: #DFC8AF; width: 100%; height: 12rem; padding: 2rem; border-radius: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                <mat-icon style="transform: scale(2);" [svgIcon]="service.name"></mat-icon>
                <h2>{{ service.service }}</h2><br>
                <h3>{{ service.description }}</h3>
            </div>
        </div>
        }
    </section>

    <!--Reminder Container-->
    <section style="height: 20em; display: flex; flex-direction: column; transform: scale(1.7);">
        <div style="display: flex; flex-direction: row; justify-content: center; text-align: center;">
            <h1>Don't let this <br>to be the<br><span class="gradient">End</span><br>of your Path</h1>
        </div>
        <button mat-flat-button color="primary" style="height: 2rem; border-radius: 10px; align-self: center;">Contact Me</button>
    </section>

    <!--Contact Container-->
    <section style="height: 25em; background-color: #DFC8AF; border-radius: 15px; width: 100%;">
        <div style="display: flex; flex-direction: column; gap: 2rem; padding: 3rem; height: auto; align-items: center;">
            <mat-icon svgIcon="logo" style="transform: scale(3);"></mat-icon>
            <h1>Do Better</h1>
        </div>

        <div
            style="display: flex; flex-direction: column; gap: 3rem; width: 100%; justify-content: center; align-items: center;">
            <button mat-icon-button>
                <mat-icon svgIcon="email" style="transform: scale(5);"></mat-icon>
            </button>
            <h3>Email</h3>
        </div>
    </section>
    }
    @else {
    <!--############################
    ||                            ||
    ||        Desktop View        ||
    ||                            ||
    #############################-->
    <section id="skillsets_container_desktop">
        @for (skillset of SKILLSETS; track $index) {
        <div [style.grid-area]="skillset.skillset.toString()" [style.background-color]="skillset.boxColor"
            [style.color]="skillset.textColor" [style.border]="'1px solid ' + skillset.boxColor"
            [style.flex-direction]="skillset.flexDirection"
            style="border-radius: 15px; display: flex; justify-content: center; align-items: center; gap: 1em;">
            <mat-icon [svgIcon]="skillset.skillset"></mat-icon>
            <h5>{{ skillset.skillset }}</h5>
        </div>
        }
    </section>

    <!--Services Container-->
    <section style="height: 120em;">
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <h1>Do Better</h1>
            <h5 style="padding-top: 6em;">What can I Provide</h5>
        </div>

        @for (service of SERVICES; track $index) {
        <div style="display: flex; flex-direction: row; gap: 1em; padding-bottom: 5rem;">
            <div
                style="background-color: #DFC8AF; width: 30%; border-radius: 15px; display: flex; justify-content: center; align-items: center;">
                <mat-icon style="transform: scale(8);" [svgIcon]="service.name"></mat-icon>
            </div>
            <div style="background-color: #DFC8AF; width: 70%; border-radius: 15px; padding: 2rem;">
                <h3>{{ service.service }}</h3><br>
                <h5>{{ service.description }}</h5>
            </div>
        </div>
        }
    </section>

    <!--Reminder Container-->
    <section style="height: 50em; display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row; justify-content: center; text-align: center;">
            <h2>Don't let this <br>to be the <span class="gradient">End</span> of your Path</h2>
        </div>
        <button mat-flat-button color="primary"
            style="width: 30%; height: 5rem; border-radius: 15px; align-self: center;">Contact Me</button>
    </section>

    <!--Contact Container-->
    <section style="height: 50em; background-color: #DFC8AF; border-radius: 15px; width: 100%;">
        <div style="display: flex; flex-direction: row; gap: 2rem; padding: 3rem; height: auto;">
            <mat-icon svgIcon="logo" style="transform: scale(3);"></mat-icon>
            <h5>Do Better</h5>
        </div>

        <div
            style="display: flex; flex-direction: column; gap: 3rem; width: 100%; height: 80%; justify-content: center; align-items: center;">
            <button mat-icon-button>
                <mat-icon svgIcon="email" style="transform: scale(10);"></mat-icon>
            </button>
            <h3>Email</h3>
        </div>
    </section>
    }
</section>